/* page-wide styles */
body {
  margin: 0;
}

/* entering slide state only */
.slide-entering-moment {
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}

.slide-entering-moment {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
